anaconda==0.0.1.1
anyio==3.3.2
auth==0.5.3
beautifulsoup4==4.8.2
coreapi==2.3.3
coreschema==0.0.4
debugpy==1.4.3
decorator==5.1.0
Django==3.2.8
django-cors-headers==3.10.0
django-crispy-forms==1.7.2
django-filter==21.1
django-oauth-toolkit==1.5.0
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-oauth==1.1.0
djoser==2.1.0
gunicorn==20.1.0
httplib2==0.14.0
jedi==0.18.0
oauthlib==3.1.0
Pillow==7.0.0
whitenoise
